@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("_Id") == null)
{
    <div class="d-flex justify-content-center">
        Bạn chưa đăng nhập
    </div>
}
else
{
    @section Slider {

        <h1>
            Tài Khoản
                <small>Thêm Tài Khoản</small>
        </h1>

    }
    @model LinquorStore.Models.TaiKhoan

    <h1>Bảng Thêm Tài khoản</h1>

    <hr />
    <div class="row">

        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ChucVu" class="control-label"></label>
                    <input asp-for="ChucVu" class="form-control" />
                    <span asp-validation-for="ChucVu" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-primary" /> |
                    <a asp-action="Index">Quay lại</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TenDangNhap" class="control-label"></label>
                    <input asp-for="TenDangNhap" class="form-control" />
                    <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label"></label>
                    <input asp-for="MatKhau" class="form-control" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SoDienThoai" class="control-label"></label>
                    <input asp-for="SoDienThoai" class="form-control" />
                    <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HinhAnhBia" class="control-label"></label>
                    <input type="file" name="file" />
                    <span asp-validation-for="HinhAnhBia" class="text-danger"></span>
                </div>
            </div>

            <!-- /.form-group -->


        </form>
    </div>


    @*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
}