@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("_Id") == null)
{
    <div class="d-flex justify-content-center">
        Bạn chưa đăng nhập
    </div>
}
else
{
    @section Slider {

        <h1>
            Nơi Sản Xuất
            <small>Sửa Thông Tin Nơi Sản Xuất</small>
        </h1>

    }


    @model LinquorStore.Models.NoiSanXuat


    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4 class="card-title text-center" style="color:#c71111; font-size:27px;">Sửa nơi sản xuất</h4>
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="XuatXu" class="control-label"></label>
                    <input asp-for="XuatXu" class="form-control" />
                    <span asp-validation-for="XuatXu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-app" /> |
                    <a asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
}