@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng Ký</title>

    @model LinquorStore.Models.KhachHangSignUp
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fontawesome/css/all.css">

</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Images/LingquorStore.gif'); ">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">




                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @*if (!String.IsNullOrEmpty(ViewData.ModelState["LoginError"].Errors[0].ErrorMessage))
            {
            <div class="alert alert-dismissible fade show aler" role="alert">
                <span class="d-block text-danger">@ViewData.ModelState["LoginError"].Errors[0].ErrorMessage</span>
                <button type="button" class="close error-sty" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }*@




                    <span class="login100-form-title p-b-49">
                        ĐĂNG KÝ
                    </span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Họ Tên</span>
                        <input class="input100" type="text" name="HoTen" placeholder="Họ Tên">
                        <span class="focus-input100" data-symbol="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Số Điện Thoại</span>
                        <input class="input100" type="text" name="SoDienThoai" placeholder="Số Điện Thoại">
                        <span class="focus-input100" data-symbol="&#xf202;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Gmail</span>
                        <input class="input100" type="text" name="Mail" placeholder="Gmail">
                        <span class="focus-input100" data-symbol="&#xf200;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Địa Chỉ</span>
                        <input class="input100" type="text" name="DiaChi" placeholder="Địa Chỉ">
                        <span class="focus-input100" data-symbol="&#xf203;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Ngày sinh</span>
                        <input class="input100" style="color: #adadad" type="datetime-local" name="NgaySinh" placeholder="Ngày Sinh">
                        <span class="focus-input100" data-symbol="&#xf204;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Tên đăng nhập</span>
                        <input class="input100" type="text" name="TenDangNhap" placeholder="Tên đăng nhập">
                        <span class="focus-input100" data-symbol="&#xf205;"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                        <span class="label-input100">Mật khẩu</span>
                        <input class="input100" type="password" name="MatKhau" placeholder="Mật khẩu">
                        <span class="focus-input100" data-symbol="&#xf191;"></span>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate="Password is required">
                        <span class="label-input100">Xác nhận mật khẩu</span>
                        <input class="input100" type="password" name="XacNhanMatKhau" placeholder="Xác nhận mật khẩu">
                        <span class="focus-input100" data-symbol="&#xf191;"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn mt-5">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Đăng ký
                            </button>
                        </div>
                    </div>

                    <div class="flex-col-c p-t-70">
                        <a asp-action="login" class="txt2">
                            Quay lại
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>